a, a *{
  transition: .15s linear;
}
*{
  letter-spacing: normal;
}
small , small *, *.font-small{
  font-size: 12px;
}
.header{
  background: -webkit-linear-gradient(274deg,#261a4b 0,#2A6DCC 48%,#4781c0 100%);
  background: linear-gradient(176deg,#261a4b 0,#2A6DCC 48%,#4781c0 100%);
  background: -webkit-radial-gradient(56% 135%,140% 196%,#50b5e7 0,#2A6DCC 48%,#000 100%);
  background: radial-gradient(56% 135%,140% 196%,#50b5e7 0,#2A6DCC 48%,#000 100%);
  background-repeat: no-repeat;
  overflow: hidden;
  min-height: 700px;
}
.screenshot {
  width:90%;
  max-width: 900px;
  bottom:-10px;
  position: absolute;
  z-index:999;
  left:0;
  right:0;
}
.line-max {
  max-width: 1100px;
  width:90%;
  float:none;
  margin:0 auto;
}
.top-menu a {
  letter-spacing: .2px;
  text-shadow: 0 1px 0 rgba(0,0,0, .6);
  line-height: 40px;
  margin-right: 15px;
}
.top-menu a i{
  font-size: 17px;
  vertical-align: text-bottom;
  margin: 0 3px;
}
.top-menu .github-button {
  color: #1D4C8E;
  text-shadow:  0 0 0;
}
.content{
  box-shadow: 0 -2px 6px rgba(0,0,0, .1);
  border-top:1px solid #f4f6f6;
}
.logo, .logo * {
  font-size: 14px;
}
.logo{
  margin-top:3px;
  text-shadow: 0 1px 0 rgba(0,0,0, .6);
}
.logo img{
  margin-right: 10px;
}
.font-one {
  font-family: 'Lato', sans-serif;
}
.font-big{
  font-size: 35px;
}
.font-handwritten {
  font-family: 'Kalam';
  letter-spacing:1px;
  word-spacing: -1px;
}
.description {
  color: #89DAF9;
}
.download-link{
  border-radius:4px;
  min-width: 190px;
  height:34px;
  padding:8px 3px;
  display:inline-block;
  margin:0 2%;
  background: #2979E8;
  transition: none;
  line-height: 32px;
}
.download-link.linux {
  background: #eee;
}
.download-link:hover{
  box-shadow: 0 5px 10px rgba(0,0,0, .2);
}
.download-link.disabled,.download-link.disabled:hover{
  cursor: not-allowed;
}
.download-link i{
  font-size:28px;
  margin-top:3px;
}
.footer{
  border-top: 2px dashed #ddd;
}
.color-twitter{
  color: #1882FC;
}
.bg-cyan {
  border: 2px dashed #ddd;
  border-bottom:none;
}
/*tablet*/
  @media screen and (max-width:800px){
  /*put in here all tablet rules*/
    .hide-mobile-tablet {
      display: none;
    }
    .header {
      min-height: 600px;
    }

    .download-link{
      width: 250px;
    }
  }
  /*mobile*/
    @media screen and (max-width:400px){
      .header {
        min-height: 500px;
      }
    }
