body {
    overflow-x: hidden;
    font-family: 'Lato';
}
a, a *{
  transition: .15s linear;
}
*{
  letter-spacing: normal;
}
small , small *, *.font-small{
  font-size: 12px;
}
.cursor-disabled, .cursor-disabled:hover {
  cursor:not-allowed;
}
.header{
  background: -webkit-linear-gradient(274deg,#261a4b 0,#2A6DCC 48%,#4781c0 100%);
  background: linear-gradient(176deg,#261a4b 0,#2A6DCC 48%,#4781c0 100%);
  background: -webkit-radial-gradient(56% 135%,140% 196%,#50b5e7 0,#2A6DCC 48%,#000 100%);
  background: radial-gradient(56% 135%,140% 196%,#50b5e7 0,#2A6DCC 48%,#000 100%);
  background-repeat: no-repeat;
  max-height: 450px;
  overflow: hidden;
}
.screenshot {
  z-index: 9999;
  position: relative;
  width: 110%;
  max-width: 700px;
  left:-5%;
}
.line-max {
  max-width: 1200px;
  width:93%;
  float:none;
  margin:0 auto;
}
.top-menu a {
  letter-spacing: .2px;
  text-shadow: 0 1px 0 rgba(0,0,0, .6);
  line-height: 45px;
  margin-right: 3%;
}
.top-menu a i{
  font-size: 17px;
  vertical-align: text-bottom;
  margin: 0 3px;
}
.top-menu .github-button {
  color: #1D4C8E;
  text-shadow:  0 0 0;
}
.content{
  box-shadow: 0 -2px 6px rgba(0,0,0, .1);
  border-top:1px solid #f4f6f6;
}
.logo, .logo * {
  font-size: 14px;
}
.logo{
  margin-top:3px;
  text-shadow: 0 1px 0 rgba(0,0,0, .6);
}
.logo img{
  margin-right: 10px;
}
.font-big{
  font-size: 30px;
}
.font-handwritten {
  font-family: 'Kalam';
  letter-spacing:1px;
  word-spacing: -1px;
}
.switcher a {
  color: white;
  font-size: 14px;
  width: 100%;
  margin-right: 1%;
  padding: 2px 10px;
  border-radius: 3px;

}
.switcher a.active{
  background: rgba(0,0,0, .3);
  color: white;
}
.download-link{
  border-radius:4px;
  width: 100%;
  max-width: 240px;
  font-size: 15px;
  background: rgba(0,0,0, .1);
  transition: none;
  line-height: 44px;
}
.download-link.linux {
  background: #eee;
}
.download-link:hover{
  box-shadow: 0 5px 10px rgba(0,0,0, .2);
}
.download-link.disabled,.download-link.disabled:hover{
  cursor: not-allowed;
}
.download-link i{
  font-size:28px;
  margin-top:3px;
}

.color-twitter{
  color: #1882FC;
}
.color-cyan {
  color: #89DAF9;
}
/*tablet*/
  @media screen and (max-width:800px){
  /*put in here all tablet rules*/
    .hide-mobile-tablet {
      display: none;
    }
    .line-tablet {
      margin:0 auto;
      width: 100%;
    }
    .download-link{
      width: 250px;
    }
  }
  /*mobile*/
    @media screen and (max-width:400px){

    }
