#environment:
 # nodejs_version: '6'

platform:
  - x86

install:
  #- ps: Install-Product node $env:nodejs_version
  - echo 'NODE_VERSION' && node -v
  - echo 'NPM_VERSION' && npm -v
  - appveyor-retry npm install
  - npm run build-win
  - ps: get-childItem releases\*.exe | rename-item -newname { $_.name -replace " Setup ","-" }

build: off
test: off

branches:
  only:
    - master
    
artifacts:
  - path: releases\*.exe
  - path: releases\*win.zip

deploy:
- provider: GitHub
  auth_token:
    secure: ZQe3awDIx7JDSXPfjp8Y+mKgdXERdHAeNikOKo3eyYWZzjykn74n6S6B8qJqqbBx
  draft: false
  prerelease: false
  on:
    appveyor_repo_tag: true
