a, a *{
  transition: .2s linear;
}
*{
  letter-spacing: normal;
}
small , small *{
  font-size: 12px;
}
.header{
  background: -webkit-linear-gradient(274deg,#261a4b 0,#2A6DCC 48%,#4781c0 100%);
  background: linear-gradient(176deg,#261a4b 0,#2A6DCC 48%,#4781c0 100%);
  background: -webkit-radial-gradient(56% 135%,140% 196%,#50b5e7 0,#2A6DCC 48%,#000 100%);
  background: radial-gradient(56% 135%,140% 196%,#50b5e7 0,#2A6DCC 48%,#000 100%);
  background-repeat: no-repeat;
  overflow: hidden;
}
.screenshot {
  width:70%;
  max-width: 850px;
  bottom:-30px;
  position: relative;
}
.line-max{
  max-width: 1100px;
  width:90%;
  float:none;
  margin:0 auto;
}
.top-menu a {
  letter-spacing: .2px;
  text-shadow: 0 1px 0 rgba(0,0,0, .6);
  line-height: 40px;
  margin-right:20px;
}
.top-menu a i{
  font-size: 17px;
  vertical-align: text-bottom;
  margin: 0 3px;
}
.top-menu .star-button {
  background: red;
  color:white;
  border-radius:3px;
  width:80px;
  padding: 2px 6px 2px 4px;
  font-size: 13px;
}
.top-menu .star-button i{
font-size: 15px;
margin:0;
}
.logo{
  text-shadow: 0 1px 0 rgba(0,0,0, .6);
  font-size: 16px;
}
.logo img{
  margin-right: 10px;
}
.font-one {
  font-family: 'Lato', sans-serif;
}
.font-big{
  font-size: 35px;
}
.font-handwritten {
  font-family: 'Kalam';
  letter-spacing:1px;
  word-spacing: -1px;
}
.description {
  color: #89DAF9;
}
.download-link{
  border-radius:4px;
  width: 130px;
  height:34px;
  padding:4px 0;
  display:inline-block;
  margin:0 2%;
  background:#1B7AEE;
  line-height: 110%;
}
.download-link:hover{
  border-bottom-color:cyan;
}
.download-link:hover i{
  transform:scale(1.1)
}
.download-link.disabled{
  opacity:.5;
  pointer-events:none;
}
.download-link i{

  font-size:28px;
  margin-top:3px;
}
