.right-column.overflow-x-hidden(ng-controller='ContentController as content')
  .dialog.prompt(ngfx-speed='fast', ngfx-fade-in-down='showVersionDialog')
    form(ng-submit='installVersionPackage(selectedVersion)')
      input(placeholder='Type version', type='text', ng-class="{'color-muted': updating}", ngfx-flash='errorUpdating', ng-focus='errorUpdating = undefined;', ng-model='selectedVersion', ng-value='json.dependencies[selectedPackage].latest')
      button(ng-disabled='updating', ng-click='installVersionPackage(selectedVersion)')
        span(ng-show='!updating') OK
        span(ng-show='updating')
          img(src='img/loading.svg', width='15')
  .row.home.bg-ultralight(ng-hide="content.loading || content.packageInformations")
    div
      | Welcome
      .separator10
      small.color-muted
        | Select an npm project folder to start
      .separator10
      .separator10
      button.home-button(ng-click="shell.openChooser()")
        | Add project
  .row.table-loader.bg-lighter(ng-show="content.loading", ng-hide='!content.loading || content.loaded')
    img(src='img/loading.svg', width='22') 
    | Loading ...
    .separator10
    .color-muted
      small May take some time
  div(ng-show='content.loaded')
    .row.table-header
      .col-xs-4 Package
      .col-xs-2 Current
      .col-xs-2 Wanted
      .col-xs-2 Latest
      .col-xs-2 Env
    .table-body
      .row.table-row(ng-repeat='aPackage in content.packageInformations', ng-class="{ 'active': aPackage.name === shell.currentSelectedPackage.name }", ng-click='shell.selectPackage(aPackage)')
        .col-xs-4 {{ aPackage.name }}
        .col-xs-2 
          span(ng-class="{'color-blue font-medium': !aPackage.wanted && !aPackage.latest}")
            | {{ aPackage.current }}
        .col-xs-2 {{ aPackage.wanted }}
        .col-xs-2 
          b(ng-if="aPackage.latest")
            | {{ aPackage.latest}}
        .col-xs-2 {{ aPackage.kind }}
