.right-column.overflow-x-hidden(ng-controller='ContentController as content')
  .row.home.bg-ultralight(ng-hide="content.loading || content.packageInformations", ng-show="content.goBackHome")
    div
      .separator10
      small.color-black
        | Select or drag npm projects to start
      .separator10
      .separator10
      button.home-button(ng-click="shell.openChooser()")
        | Add projects
  .row.table-loader.bg-lighter(ng-show="content.loading", ng-hide='!content.loading || content.loaded')
    img(src='img/loading.svg', width='22')
    | Loading ...
    .separator10
    .color-black
      small May take some time
  div(ng-show='content.loaded && !content.goBackHome')
    .row.table-header
      .col-xs-4.clickable(ng-click="content.sortTableBy('name')")
        | Package
        i(class="fa", ng-class="{'fa-sort': !content.tableOrderBy.includes('-name') || !content.tableOrderBy.includes('name'), 'fa-sort-down': content.tableOrderBy.includes('-name'), 'fa-sort-up': content.tableOrderBy.includes('name')}")
      .col-xs-2
        | Current
      .col-xs-2
        | Wanted
      .col-xs-2
        | Latest
      .col-xs-2.clickable(ng-click="content.sortTableBy('kind')")
        | Env
        i(class="fa", ng-class="{'fa-sort': !content.tableOrderBy.includes('-kind') || !content.tableOrderBy.includes('kind'), 'fa-sort-down': content.tableOrderBy.includes('-kind'), 'fa-sort-up': content.tableOrderBy.includes('kind')}")
    .table-body(ng-table-keyboard)
      <!-- show disabled npm global row if in globals-->
      .row.table-row.disabled(ng-repeat='aPackage in content.packageInformations', ng-if="content.isGlobalProject && aPackage.name === 'npm'", title="Do not perform npm global actions from here")
        .col-xs-4 {{ aPackage.name }}
        .col-xs-2
          span(ng-class="{'color-positive font-light': !aPackage.wanted && !aPackage.latest}")
            | {{ aPackage.current }}
        .col-xs-2
          i(class="fa fa-check", ng-if="!aPackage.wanted && !aPackage.latest")
          | {{ aPackage.wanted }}
        .col-xs-2
          b(ng-if="aPackage.latest")
            | {{ aPackage.latest }}
          i(class="fa fa-check color-positive", ng-if="!aPackage.wanted && !aPackage.latest")
        .col-xs-2
          | {{ aPackage.kind }}
      <!-- show all packages except for npm global-->
      .row.table-row(ng-repeat='aPackage in content.packageInformations | orderBy: content.tableOrderBy', id="table-item-{{$index}}", ng-table-keyboard-selected-items="content.selectedPackages", ng-if="!content.isGlobalProject ||  content.isGlobalProject && aPackage.name !== 'npm'", selection-model, selection-model-mode="'multiple'", selection-model-selected-items="content.selectedPackages", ng-click="shell.selectPackages(content.selectedPackages)", ng-class="{'active': content.selectedPackages.includes(aPackage), 'table-row-loading': shell.currentSelectedPackages.includes(aPackage) && content.showLoadingSelectedRow}")
        .col-xs-4 {{ aPackage.name }}
        .col-xs-2
          span(ng-class="{'color-positive font-light': !aPackage.wanted && !aPackage.latest}")
            | {{ aPackage.current }}
        .col-xs-2
          i(class="fa fa-check", ng-if="!aPackage.wanted && !aPackage.latest")
          | {{ aPackage.wanted }}
        .col-xs-2
          b(ng-if="aPackage.latest")
            | {{ aPackage.latest }}
          i(class="fa fa-check color-positive", ng-if="!aPackage.wanted && !aPackage.latest")
        .col-xs-2
          | {{ aPackage.kind }}
    div.table-infos(ng-show="content.packageInformations && content.packageInformations.length > 0")
      include ./package-informations.pug
