.right-column.overflow-x-hidden(ng-controller='ContentController as content')
  .row.home.bg-ultralight(ng-hide="content.loading || content.packageInformations", ng-show="content.goBackHome")
    div
      .separator10
      small.color-black
        | Select npm projects to start
      .separator10
      .separator10
      button.home-button(ng-click="shell.openChooser()")
        | Add projects
  .row.table-loader.bg-lighter(ng-show="content.loading", ng-hide='!content.loading || content.loaded')
    img(src='img/loading.svg', width='22')
    | Loading ...
    .separator10
    .color-black
      small May take some time
  div(ng-show='content.loaded && !content.goBackHome')
    .row.table-header
      .col-xs-4 Package
      .col-xs-2 Current
      .col-xs-2 Wanted
      .col-xs-2 Latest
      .col-xs-2 Env
    .table-body
      .row.table-row(ng-repeat='aPackage in content.packageInformations | orderBy: \'name\'', selection-model, selection-model-mode="'multiple'", selection-model-selected-items="content.selectedPackages", ng-click="shell.selectPackages(content.selectedPackages)", ng-class="{'active': content.selectedPackages.includes(aPackage), 'table-row-loading': shell.currentSelectedPackages.includes(aPackage) && content.showLoadingSelectedRow}")
        .col-xs-4 {{ aPackage.name }}
        .col-xs-2
          span(ng-class="{'color-positive font-light': !aPackage.wanted && !aPackage.latest}")
            | {{ aPackage.current }}
        .col-xs-2
          i(class="fa fa-check", ng-if="!aPackage.wanted && !aPackage.latest")
          | {{ aPackage.wanted }}
        .col-xs-2
          b(ng-if="aPackage.latest")
            | {{ aPackage.latest }}
          i(class="fa fa-check color-positive", ng-if="!aPackage.wanted && !aPackage.latest")
        .col-xs-2
          | {{ aPackage.kind }}
    div.table-infos(ng-if="content.packageInformations && content.packageInformations.length > 0")
      div.row
        div.col-md-12
          div.information
            b
              | Name:
            = " "
            | {{content.packageViewInfos.name || '-'}}
          div.information
            b
              | Homepage:
            = " "
            a(title="Open in browser", ng-if="content.packageViewInfos.homepage", ng-click="shell.openBrowserLink(content.packageViewInfos.homepage)")
              | {{ content.packageViewInfos.homepage }}
            span(ng-if="!content.packageViewInfos.homepage")
              | -
          div.information
            b
              | Repository:
            = " "
            | {{content.packageViewInfos.repository.url || '-'}}
          div.information
            b
              | Author:
            = " "
            | {{content.packageViewInfos.author || '-'}}
          div.information
            b
              | Issues:
            = " "
            a(title="Open in browser", ng-if="content.packageViewInfos.bugs.url", ng-click="shell.openBrowserLink(content.packageViewInfos.bugs.url)")
              | {{content.packageViewInfos.bugs.url}}
            span(ng-if="!content.packageViewInfos.bugs || !content.packageViewInfos.bugs.url")
              | -
          div.information
            b
              | License:
            = " "
            span(ng-if="content.packageViewInfos.license && !content.packageViewInfos.license.type")
              | {{content.packageViewInfos.license}}
            span(ng-if="content.packageViewInfos.license.type")
              | {{content.packageViewInfos.license.type}}
            a(title="Open in browser", ng-if="content.packageViewInfos.license.url", ng-click="shell.openBrowserLink(content.packageViewInfos.license.url)")
              | content.packageViewInfos.homepage
            span(ng-if="!content.packageViewInfos.license && !content.packageViewInfos.license.url && !content.packageViewInfos.license.type")
              | -
          div.information(title="{{content.packageViewInfos.description}}")
            b
              | Description:
            = " "
            | {{content.packageViewInfos.description || '-'}}
