.right-column.overflow-x-hidden(ng-controller='ContentController as content')
  .dialog.prompt(ngfx-speed='fast', ngfx-fade-in-down='showVersionDialog')
    form(ng-submit='installVersionPackage(selectedVersion)')
      input(placeholder='Type version', type='text', ng-class="{'color-muted': updating}", ngfx-flash='errorUpdating', ng-focus='errorUpdating = undefined;', ng-model='selectedVersion', ng-value='json.dependencies[selectedPackage].latest')
      button(ng-disabled='updating', ng-click='installVersionPackage(selectedVersion)')
        span(ng-show='!updating') OK
        span(ng-show='updating')
          img(src='img/loading.svg', width='15')
  .row.table-loader.bg-lighter(ng-hide='loaded')
    img(src='img/loading.svg', width='22') 
    | Loading ...
    .separator10
    .color-muted
      small May take some time
  div(ng-show='loaded')
    .row.table-header
      .col-xs-5 Package
      .col-xs-3 Version
      .col-xs-2 Latest
      .col-xs-2 Env
    .table-body
      .row.table-row(ng-repeat='(key,value) in json.dependencies', ng-class="{'active': selectedPackage.name && selectedPackage.name === key}", ng-click='selectPackage(json.dependencies[key])')
        .col-xs-5 {{key}}
        .col-xs-3 {{value.version}}
        .col-xs-2
          b(ng-if='value.latest === value.version') {{value.latest}}
          span(ng-if='value.latest !== value.version') {{value.latest}}
        .col-xs-2  
          | {{value.env}}
      div(ng-show='loaded && !json.dependencies')
        br
        span(ng-show='error && error.length > 5')
          i.fa.fa-warning 
          | Issues , 0 packages found
  br
