.right-column.overflow-x-hidden(ng-controller='ContentController as content')
  .row.home.bg-ultralight(ng-hide="content.loading || content.packageInformations", ng-show="content.goBackHome")
    div
      | Welcome
      .separator10
      small.color-muted
        | Select an npm project folder to start
      .separator10
      .separator10
      button.home-button(ng-click="shell.openChooser()")
        | Add project
  .row.table-loader.bg-lighter(ng-show="content.loading", ng-hide='!content.loading || content.loaded')
    img(src='img/loading.svg', width='22')
    | Loading ...
    .separator10
    .color-muted
      small May take some time
  div(ng-show='content.loaded && !content.goBackHome')
    .row.table-header
      .col-xs-4 Package
      .col-xs-2 Current
      .col-xs-2 Wanted
      .col-xs-2 Latest
      .col-xs-2 Env
    .table-body
      .row.table-row(ng-repeat='aPackage in content.packageInformations | orderBy: \'name\'', selection-model, selection-model-mode="'multiple'", selection-model-selected-items="content.selectedPackages", ng-class="{'active': content.selectedPackages.includes(aPackage)}")
        .col-xs-4 {{ aPackage.name }}
        .col-xs-2
          span(ng-class="{'color-positive font-light': !aPackage.wanted && !aPackage.latest}")
            | {{ aPackage.current }}
        .col-xs-2 {{ aPackage.wanted }}
        .col-xs-2
          b(ng-if="aPackage.latest")
            | {{ aPackage.latest}}
        .col-xs-2 {{ aPackage.kind }}
