div.dialog.prompt(ng-show="leftBar.editorFilePath", ng-ace-editor, ng-ace-editor-theme="xcode" ng-ace-editor-mode="json", ng-ace-file="{{leftBar.editorFilePath}}" ng-model="aceFileModel")
  div(class="prompt-window editor" autofocus)
    div(class="prompt-editor ng-ace-editor")
  div(class="prompt-window-options")
    img(src="img/loading.svg", width="13", ng-show="(savingFile && !savedFile) || loadingFile")
    i(class="fa fa-check color-primary", ng-show="savedFile && !savingFile")
    button(ng-click="saveFile()")
      | Save
    button(ng-click="leftBar.editorFilePath = undefined; aceFileModel = undefined;")
      | Cancel
