.footer.bg-footer
  span(class="npm-status", ng-mouseenter="shell.checkRegistryStatus()")
    i.fa.fa-disk(title="npm registry status", ng-class="{'available': !shell.loadingRegistryStatus && shell.registryStatus , 'checking': shell.loadingRegistryStatus, 'unavailable': !shell.loadingRegistryStatus && !shell.registryStatus}")
    div.loader(ng-class="{'loading': shell.loadingRegistryStatus}")
      i.fa.fa-circle
      i.fa.fa-circle
