.footer.bg-footer
  a(ng-click="shell.openBrowserLink('http://720kb.net')")
    | © 720kb
  span(class="loader")
    img(src="img/loading.svg", width="16", ng-show="shell.loadingRegistryStatus")
    i(class="fa fa-circle", ng-class="{'active': shell.registryStatus}", ng-show="!shell.loadingRegistryStatus")
  span(class="npm-status", ng-init="shell.checkRegistryStatus()", ng-mouseenter="shell.checkRegistryStatus()")
    img(src="img/npm-logo-black.svg")
    = " "
    | status:
    = " "
    b(ng-show="!shell.loadingRegistryStatus && shell.registryStatus")
      | available
    b(ng-show="!shell.loadingRegistryStatus && !shell.registryStatus")
      | unavailable
    b(ng-show="shell.loadingRegistryStatus")
      | checking
