.footer.bg-footer
  span(class="badge-version", title="Current npm version", ng-mouseover="shell.updateNpmBadgeVersion()")
    b
      | npm
    = " "
    small
      | v{{shell.npmCurrentVersionBadge || ' - - -'}}
  button.button-global(type="button", title="Enable ndm in global folder",  ng-show="shell.globalDisabled", ng-click="shell.enableGlobal()")
    i.fa.fa-globe.color-primary
    | Enable
  button.button-update(type="button", ng-show="shell.npmCurrentVersionBadge", title="Update npm", ng-show="!shell.globalDisabled", ng-click="shell.updateNpm()")
    i.fa.fa-history
    | Update
  span(class="npm-status", ng-mouseenter="shell.checkRegistryStatus()")
    i.fa.fa-disk(title="npm registry is available", ng-show="!shell.loadingRegistryStatus && shell.registryStatus")
    i.fa.fa-disk(title="npm registry checking ...", ng-show="shell.loadingRegistryStatus")
    i.fa.fa-disk(title="npm registry is unavailable", ng-show="!shell.loadingRegistryStatus && !shell.registryStatus")
    div.loader(ng-class="{'loading': shell.loadingRegistryStatus}")
      i.fa.fa-circle(ng-class="{'available': !shell.loadingRegistryStatus && shell.registryStatus}")
      i.fa.fa-circle(ng-class="{'unavailable': !shell.loadingRegistryStatus && !shell.registryStatus}")
