div.dialog.prompt(ng-show="leftBar.showHistoryPrompt")
  div(class="prompt-window history")
    div(class="prompt-window-holder", ng-if="!leftBar.projectHistory || leftBar.projectHistory && leftBar.projectHistory.length <= 0")
      | You haven't created any snapshot for this project.
    div(class="prompt-history-item", ng-repeat="item in leftBar.projectHistory | orderBy : 'datetime' : -1", ng-click="leftBar.selectedSnapshot = item;", ng-class="{'active': leftBar.selectedSnapshot === item}")
      i(class="fa fa-database color-primary")
      = " "
      | {{item.datetime | lowercase}}
  div(class="prompt-window-options")
    span(class="prompt-window-infos", title="{{leftBar.rightClickedProject.path}}")| {{leftBar.rightClickedProject.dirName}}/
    button(ng-click="leftBar.showHistoryPrompt = undefined;")
      | Close
    button(ng-click="leftBar.deleteSnapshot()")
      | Delete
    button()
      | Restore
