div.dialog.prompt(ng-show="leftBar.showHistoryPrompt", ng-init="leftBar.showSnapshotStatus = []")
  div(class="prompt-window history")
    div(class="prompt-window-holder", ng-if="!leftBar.projectHistory || leftBar.projectHistory && leftBar.projectHistory.length <= 0")
      | You have no snapshots for this project.
    div(ng-repeat="item in leftBar.projectHistory | orderBy : $index : -1", ng-click="leftBar.selectedSnapshot = item;")
      div(class="prompt-history-item", ng-class="{'active': leftBar.selectedSnapshot === item}")
        a(ng-dblclick="leftBar.showSnapshotStatus[item.datetime] = true;", ng-show="!leftBar.showSnapshotStatus[item.datetime]")
          i(class="fa fa-caret-right")
        a(ng-dblclick="leftBar.showSnapshotStatus[item.datetime] = false;", ng-show="leftBar.showSnapshotStatus[item.datetime]")
          i(class="fa fa-caret-down")
        i(class="fa fa-database color-primary")
        = " "
        | {{item.datetime}}
        div(class="prompt-history-status", ng-if="leftBar.showSnapshotStatus[item.datetime]", ng-ace-editor, ng-ace-editor-readonly="true" ng-ace-editor-mode="json", ng-ace-editor-theme="xcode", ng-model="aceFileModel", ng-ace-source="{{item.status}}")
          div(class="ng-ace-editor")
  div(class="prompt-window-options")
    span(class="prompt-window-infos", title="{{leftBar.rightClickedProject.path}}")
      img(src="img/loading.svg", width="13", ng-show="leftBar.restoringSnapshot && !leftBar.restoredSnapshot")
      = " "
      | {{leftBar.rightClickedProject.dirName}}/
    button(ng-click="leftBar.showHistoryPrompt = undefined;")
      | Close
    button(ng-click="leftBar.deleteSnapshot()")
      | Delete
    button(ng-click="leftBar.restoreSnapshot()", ng-disabled="leftBar.restoringSnapshot")
      span(ng-show="!leftBar.restoringSnapshot")
        | Restore
      span(ng-show="leftBar.restoringSnapshot")
        | Restoring
