!!! 5
%html
  %head
    %meta{charset : "UTF-8"}
    %link{rel : "stylesheet", href : "../node_modules/bootstrap/dist/css/bootstrap.css", media : "screen", charset : "utf-8"}
    %link{rel : "stylesheet", href : "../node_modules/font-awesome/css/font-awesome.min.css", media : "screen", charset : "utf-8"}
    %link{rel : "stylesheet", href : "css/colors.css", media : "screen", charset : "utf-8"}
    %link{rel : "stylesheet", href : "css/backgrounds.css", media : "screen", charset : "utf-8"}
    %link{rel : "stylesheet", href : "css/settings.css", media : "screen", charset : "utf-8"}
    %link{rel : "stylesheet", href : "css/utils.css", media : "screen", charset : "utf-8"}
    %link{rel : "stylesheet", href : "css/loading.css", media : "screen", charset : "utf-8"}
    %link{rel : "stylesheet", href : "css/bootstrap.fixtures.css", media : "screen", charset : "utf-8"}
    %link{rel : "stylesheet", href : "../node_modules/animate.css/animate.min.css", media : "screen", charset : "utf-8"}
    %link{rel : "stylesheet", href : "../node_modules/angular-fx/dist/angular-fx.min.css", media : "screen", charset : "utf-8"}
    %script{type : "text/javascript", src : "../node_modules/systemjs/dist/system.js"}

    %script{type : "text/javascript", src : "../node_modules/angular/angular.min.js"}
    %script{type : "text/javascript", src : "../node_modules/angular-fx/dist/angular-fx.min.js"}
    %script{type : "text/javascript", src : "../node_modules/angular-local-storage/dist/angular-local-storage.min.js"}
    %script{type : "text/javascript", src : "js/shell/shell.js"}
    %script{type : "text/javascript", src : "js/index.js"}
  %body{'ng-app' : "electron", 'ng-controller' : "ShellController as shell"}
    %span
    HELLO!
