doctype html
html
  head
    meta(charset='UTF-8')
    link(rel='stylesheet', href='../node_modules/bootstrap/dist/css/bootstrap.css', media='screen', title='no title', charset='utf-8')
    link(rel='stylesheet', href='../node_modules/font-awesome/css/font-awesome.min.css', media='screen', title='no title', charset='utf-8')
    link(rel='stylesheet', href='../node_modules/animate.css/animate.min.css', media='screen', title='no title', charset='utf-8')
    link(rel='stylesheet', href='../node_modules/angular-fx/dist/angular-fx.min.css', media='screen', title='no title', charset='utf-8')
    link(rel='stylesheet', href='css/index.css', media='screen', title='no title', charset='utf-8')
    
    script(type='text/javascript', src='../node_modules/angular/angular.min.js')
    script(type='text/javascript', src='../node_modules/angular-fx/dist/angular-fx.min.js')
    
    script(type='text/javascript', src='js/index.js')
  body(ng-app='ndm', ng-controller='ShellController as shell')
    span.title Npm Manager
    .page
      include ./top.jade
      include ./left.jade
      include ./content.jade
    .footer.bg-footer © 
      a(ng-click="shell.openBrowserLink('http://720kb.net')") 720kb
      span.pull-right
        a(ng-click="shell.openBrowserLink('http://720kb.net')") Support
      span.pull-right
        a(ng-click="shell.openBrowserLink('http://github.com/720kb')") Contribute
