doctype html
html
  head
    meta(charset='UTF-8')

    link(rel='stylesheet', href='icons/fontello/css/fontello-embedded.css', media='screen', charset='utf-8')
    link(rel='stylesheet', href='../node_modules/bootstrap/dist/css/bootstrap.min.css', media='screen', charset='utf-8')
    link(rel='stylesheet', href='css/index.css', media='screen', charset='utf-8')

    script(type='text/javascript', src='../node_modules/angular/angular.min.js')
    script(type='text/javascript', src='../node_modules/selection-model/dist/selection-model.min.js')
    script(type='text/javascript', src='../node_modules/ace-builds/src-min-noconflict/ace.js')

    script(type='text/javascript', src='js/index.js')
  body(ng-app='ndm', ng-controller='ShellController as shell', ng-drag-drop)
    .app-big-loading
      img(src="img/loading.svg")
      div
        | Loading
    .page
      include ./left.pug
      .right-column
        include ./content.pug
    <!-- do not touch indentation-->
    include ./footer.pug
