div.dialog.prompt(ng-show="topMenu.activeLink === '1'")
  form(ng-submit='topMenu.installPackage(topMenu.packageName, topMenu.newPackageKind)')
    input(placeholder='Package name',
      type='text',
      ng-model='topMenu.packageName')
    = " "
    input(placeholder='@version',
      type='text',
      ng-model='topMenu.newPackageVersion')
    = " "
    span(class="prompt-kind")
      input(type="checkbox", ng-model='topMenu.newPackageKind', ng-disabled='shell.globalSelected')
      = " "
      = " "
      | dev
      = " "
    button(ng-class="{'disabled': topMenu.installingPackage}")
      span(ng-show="!topMenu.installingPackage")
        | OK
      span(ng-show="topMenu.installingPackage")
        img(src="img/loading.svg", width="13")
    = " "
    = " "
    i(class="fa fa-times-circle-o", ng-click="topMenu.activeLink = undefined")
