div.dialog.prompt(ngfx-speed='fast', ngfx-fade-in-down='topMenu.showPackageInstallPrompt')
  form(ng-submit='topMenu.installPackage(topMenu.packageName, topMenu.packageKind)')
    input(placeholder='Package name',
      type='text',
      ng-model='topMenu.packageName')
    = " "
    input(placeholder='@version',
      type='text',
      ng-model='topMenu.packageVersion')
    = " " 
    input(type="checkbox", ng-model='topMenu.packageKind')
    = " "
    = " " 
    | dev
    = " "   
    button
      span OK
