div.dialog.prompt(ng-if="topMenu.activeLink === '1'")
  form(ng-submit='topMenu.installPackage(topMenu.packageName, topMenu.newPackageKind)')
    <!--do not remove placeholder even if it's not an input-->
    div(class="tags-input", ng-model="topMenu.packageName", contenteditable, placeholder="Package<@version> ..." ng-tag-input, ng-autofocus)
    = " "
    span(class="prompt-kind")
      input(type="checkbox", ng-model='topMenu.newPackageKind', ng-disabled='shell.globalSelected')
      = " "
      = " "
      | dev
      = " "
    button(ng-class="{'disabled': topMenu.installingPackage || !topMenu.packageName}")
      span(ng-show="!topMenu.installingPackage")
        | Install
      span(ng-show="topMenu.installingPackage")
        img(src="img/loading.svg", width="13")
    = " "
    = " "
    i(class="fa fa-times-circle-o", ng-click="topMenu.activeLink = undefined")
