div.dialog.prompt(ng-if="shell.activeLink === '1'")
  form(ng-submit='topMenu.installPackage(topMenu.packageName, topMenu.newPackageKind)')
    <!--do not remove placeholder even if it's not an input-->
    div(class="tags-input", ng-model="topMenu.packageName", ng-change="topMenu.search(topMenu.packageName[topMenu.packageName.length - 1].name)", contenteditable="true", ng-attr-disabled="{{topMenu.installingPackage ? 'disabled' : ''}}" placeholder="package<@version> ..." ng-tag-input, ng-autofocus)
    <!-- this input holds search keywords, do not remove it -->
    input(ng-hide="true", ng-model="topMenu.searchKeywords", ng-bind="topMenu.packageName")
    = " "
    span(class="prompt-kind")
      input(type="checkbox", ng-model='topMenu.newPackageKind', ng-disabled='shell.globalSelected')
      = " "
      = " "
      | dev
      = " "
    <!--do not remove id="" from the button-->
    button(id="install-new-packages-button", ng-class="{'disabled': topMenu.installingPackage || !topMenu.packageName}")
      span(ng-show="!topMenu.installingPackage")
        | Install
      span(ng-show="topMenu.installingPackage")
        img(src="img/loading.svg", width="13")
    = " "
    = " "
    i(class="fa fa-times-circle-o button-close-prompt", ng-click="shell.activeLink = undefined")
  .prompt-search
    .prompt-search-content
      .prompt-search-item(ng-repeat="item in topMenu.searchResults")
        | {{item}}
      .prompt-search-loader
        img(src="img/loading.svg")
        | Loading results ...
      .prompt-search-item(ng-if="topMenu.packageName")
        h5
          | mocha
        div
          | some description about this package and some other stuff very long
      .prompt-search-item(ng-if="topMenu.packageName")
        h5
          | virgola
        div
          | some description about this package and some other stuff very long
      .prompt-search-item(ng-if="topMenu.packageName")
        h5
          | ansery
        | some description about this package and some other stuff very long
      .prompt-search-item(ng-if="topMenu.packageName")
        h5
          | browserify
        div
          | some description about this package and some other stuff very long
