div.dialog.prompt(ngfx-speed='fast', ngfx-fade-in-down='topMenu.showPackageInstallPrompt')
  form(ng-submit='topMenu.installPackage(topMenu.packageName, topMenu.packageKind)')
    input(placeholder='Type package name',
      type='text',
      ng-model='topMenu.packageName')
    select(ng-options='item as item.label for item in shell.packageKinds track by item.value', ng-model='topMenu.packageKind')
    button
      span OK
