div.dialog.prompt(ng-show="showInstallPrompt")
  form(ng-submit='installPackage(packageName, newPackageKind)')
    <!--do not remove placeholder even if it's not an input-->
    div(class="tags-input", ng-tag-input, tab-path-id="{{tab}}" ng-autofocus, ng-model="packageName", ng-keyup="search(packageName[packageName.length - 1].name)", contenteditable="true", ng-attr-disabled="{{installingPackage ? 'disabled' : ''}}" placeholder="package<@version> ...")
    <!-- this input holds search keywords, do not remove it -->
    input(ng-hide="true", ng-model="searchKeywords", ng-bind="packageName")
    = " "
    span(class="prompt-kind")
      input(type="checkbox", ng-model='newPackageKind', ng-disabled='shell.globalSelected')
      = " "
      = " "
      | dev
      = " "
    <!--do not remove id="" from the button-->
    button(id="install-new-packages-button", ng-disabled="installingPackage || !packageName")
      span(ng-show="!installingPackage")
        | Install
      span(ng-show="installingPackage")
        img(src="img/loading.svg", width="13")
    = " "
    = " "
    i(class="fa fa-times-circle-o button-close-prompt", ng-click="hideInstallPrompt();")
  .prompt-search(ng-hide="installingPackage")
    .prompt-search-content
      .prompt-search-item(ng-repeat="item in searchResults.objects", ng-click="searchChoosePackage(item.package.name)")
        h5
          | {{item.package.name}}
        div
          | {{item.package.description}}
      .prompt-search-loader(ng-show="searchingNpm")
        img(src="img/loading.svg")
        | Loading results ...
