div(ng-controller='LeftBarController as leftBar')
  .left-column.bg-light.overflow-x-hidden
    .row
      h6.col-xs-12
        | Packages
      a.row.action-link-disabled(ng-class="{'active': leftBar.global, 'action-link-disabled': shell.globalDisabled, 'action-link-enabled': !shell.globalDisabled}", ng-click='leftBar.selectGlobal()')
        i.fa.fa-globe
        | Globals
      br
      h6.col-xs-12(ng-if='shell.projects.length > 0') Projects
      a.row.project( ng-repeat='item in shell.projects track by $index', ng-right-click="leftBar.rightClickMenu(item, $event)", ng-class="{'active': leftBar.selectedProject === item && !leftBar.global}", ng-if="leftBar.removedProject !== item", ng-click='leftBar.selectProject(item, $event)')
        i.fa.fa-folder-o
        div
          b {{ item.dirName }}
          | {{leftBar.rightClickedProject}}
        button(ng-click='leftBar.deleteProject(item, $event)')
          i.fa.fa-times-circle-o
    br
  .bottom-notification-center
    .bottom-notifier.notifier-loading-red.color-white(ng-repeat='item in shell.projects track by $index', ng-show="leftBar.npmInstallingProjects[item.dirName]")
      | Running <b>$ npm install</b> in project <b>{{item.dirName}}/</b>
    .bottom-notifier.notifier-loading-orange.color-white(ng-repeat='item in shell.projects track by $index', ng-show="leftBar.npmPruningProjects[item.dirName]")
      | Running <b>$ npm prune</b> in project <b>{{item.dirName}}/</b>
    .bottom-notifier.notifier-loading-purple.color-white(ng-repeat='item in shell.projects track by $index', ng-show="leftBar.npmDedupingProjects[item.dirName]")
      | Running <b>$ npm dedupe</b> in project <b>{{item.dirName}}/</b>
