div.dialog.prompt(ngfx-speed='fast', ngfx-fade-in-down="topMenu.activeLink === 'update'")
  div(class="logs-window-options")
    | Updating npm
  div(contenteditable="true", class="logs-window")
    b Started updating
    div(contenteditable="true", ng-repeat="aLog in log.logs track by $index")
      | {{ aLog }}
  div(class="logs-window-options")
    img(ng-show="!logsFinished", src='img/loading.svg', width='13')
    | {{logging}}
    button(ng-show="logsFinished", ng-click="topMenu.activeLink = false")
      | Close
