div.dialog.prompt(ngfx-speed='fast', ngfx-fade-in-down="topMenu.activeLink === 'update'")
  div.logs-dialog
    div(ng-repeat="aLog in log.logs track by $index")
      | {{ aLog }}
  button(ng-click="topMenu.activeLink = false")
