div.dialog.prompt(ngfx-speed='fast', ngfx-fade-in-down="topMenu.activeLink === 'update'")
  Processing
  div(contenteditable="true", class="logs-window")
    | Starting updating npm ...
    div(contenteditable="true", ng-repeat="aLog in log.logs track by $index")
      | {{ aLog }}
  div(class="logs-window-options")
    img(src='img/loading.svg', width='13')
    button(ng-click="topMenu.activeLink = false")
      | Close
