div.dialog.dialog-window(ng-if="topMenu.activeLink === 'update' && !shell.globalDisabled", ng-resizable)
  div(contenteditable="true", class="window", ng-autoscroll)
    div(class="col-md-12 logs")
      b
        | Updating npm
      div
        | =============================================
      | Local Datetime:
      = " "
      | {{ log.nowDatetime | date : 'longDate'}}
      = " "
      | {{ log.nowDatetime | date : 'mediumTime'}}
      div
        | =============================================
      | Output:
      div(contenteditable="true", ng-repeat="aLog in log.logs track by $index")
        | {{ aLog }}
  div(class="prompt-window-options")
    img(ng-show="!log.logsFinished", src='img/loading.svg', width='13')
    i(class="fa fa-check color-primary", ng-show="log.logsFinished")
    button(ng-click="topMenu.activeLink = false")
      | Close
    div.prompt-resize-holder
