div.dialog.prompt(ng-show="topMenu.activeLink === 'update'")
  div(contenteditable="true", class="logs-window")
    b
      | Updating npm
    div
      | =============================================
    | Local Datetime:
    = " "
    | {{ log.nowDatetime | date : 'longDate'}}
    = " "
    | {{ log.nowDatetime | date : 'mediumTime'}}
    div
      | =============================================
    | Output >>>
    div(contenteditable="true", ng-repeat="aLog in log.logs track by $index")
      | {{ aLog }}
  div(class="logs-window-options")
    img(ng-show="!log.logsFinished", src='img/loading.svg', width='13')
    i(class="fa fa-check color-primary", ng-show="log.logsFinished")
    button(ng-show="log.logsFinished", ng-click="topMenu.activeLink = false")
      | Close
