div.table-infos-content
  div.information
    b
      | Name:
    = " "
    | {{packageViewInfos.name || '-'}}
  div.information(title="{{packageViewInfos.description}}")
    b
      | Description:
    = " "
    | {{packageViewInfos.description || '-' | removeHTML}}
  div.information(title="Package dependencies")
    b
      | Dependencies:
    = " "
    span(ng-repeat="(dep, value) in packageViewInfos.dependencies")
      a(title="Open in browser", ng-click="shell.openBrowserLink('https://npmjs.com/package/' + dep)")
        | {{ dep }}
      span(ng-if="!$last")
        | ,
      = " "
    span(ng-if="!packageViewInfos.dependencies || packageViewInfos.dependencies.length <= 0")
      | -
  div.information(title="Package repository url")
    b
      | Repository:
    = " "
    | {{packageViewInfos.repository.url || '-'}}
  div.information
    b
      | Issues:
    = " "
    a(title="Open in browser", ng-if="packageViewInfos.bugs.url", ng-click="shell.openBrowserLink(packageViewInfos.bugs.url)")
      | {{packageViewInfos.bugs.url}}
    span(ng-if="!packageViewInfos.bugs || !packageViewInfos.bugs.url")
      | -
  div.information
    b
      | Url:
    = " "
    a(title="Open in browser", ng-init="pkgUrlToNpmJsWebsite = 'https://npmjs.com/package/' + packageViewInfos.name", ng-if="packageViewInfos.name", ng-click="shell.openBrowserLink(pkgUrlToNpmJsWebsite)")
      | {{ pkgUrlToNpmJsWebsite }}
    span(ng-if="!packageViewInfos.name")
      | -
  div.information
    b
      | License:
    = " "
    | {{packageViewInfos.license.type || packageViewInfos.license || '-'}}
