div.dialog.prompt(ng-show="topMenu.activeLink === '4'")
  form(ng-submit='topMenu.installVersionPackage(shell.currentSelectedPackage, topMenu.versionPackageVersion)')
    input(placeholder='Package name',
      type='text',
      readonly,
      ng-value="shell.currentSelectedPackage.name")
    = " "
    input(placeholder='@version',
      type='text',
      ng-model='topMenu.versionPackageVersion')
    = " "
    input(type="checkbox", ng-model="topMenu.versionPackageKind")
    = " "
    = " "
    | dev
    = " "
    button
      span OK
    = " "
    = " "
    i(class="fa fa-times-circle-o", ng-click="topMenu.activeLink = undefined;")
