div.dialog.prompt(ngfx-speed='fast', ngfx-fade-in-down="topMenu.activeLink === '4'")
  form(ng-submit='topMenu.installVersionPackage(shell.currentSelectedPackage, topMenu.specificVersion)')
    input(placeholder='Package name',
      type='text',
      ng-model='topMenu.packageName')
    = " "
    input(placeholder='@version',
      type='text',
      ng-model='topMenu.packageVersion')
    = " " 
    input(type="checkbox", ng-model="topMenu.packageKind")
    = " "
    = " " 
    | dev
    = " "
    button
      span OK
    = " "
    = " "
    i(class="fa fa-times-circle-o", ng-click="topMenu.activeLink = undefined;")
