div.dialog.prompt(ng-show="topMenu.activeLink === '4'")
  form(ng-submit='topMenu.installVersionPackage(shell.currentSelectedPackage, topMenu.versionPackageVersion)')
    input(placeholder='Package name',
      type='text',
      readonly,
      ng-value="shell.currentSelectedPackage.name")
    = " "
    input(placeholder='@version',
      type='text',
      ng-model='topMenu.versionPackageVersion')
    = " "
    input(type="checkbox", disabled, ng-checked="shell.currentSelectedPackage.kind.length > 0", ng-disabled='shell.globalSelected')
    = " "
    = " "
    | dev
    = " "
    button(ng-class="{'disabled': topMenu.installingPackageVersion}")
      span(ng-show="!topMenu.installingPackageVersion")
        | OK
      span(ng-show="topMenu.installingPackageVersion")
        img(src="img/loading.svg", width="13")
    = " "
    = " "
    i(class="fa fa-times-circle-o", ng-click="topMenu.activeLink = undefined;")
