.container.top-menu.bg-gradient-grey(ng-controller='TopMenuController as topMenu')
  input#choose-file(type='file' nwdirectory onchange="angular.element(this).scope().shell.chooseProjectDir(this.files)")
  .row
    .col-xs-3
      a.pull-left(ng-click='shell.updateNpm()')
        i.fa.fa-history 
        div
        | Update npm
    .col-xs-9
      a(ng-click="shell.openChooser()")
        i.fa.fa-plus-circle 
        | Add Project
      a.pull-right.install
        i.fa.fa-cloud-download 
        div
        | Install Package
      span(ng-show='topMenu.showMenuButtons')
        a.pull-right(ng-click='topMenu.updatePackage()')
          i.fa.fa-level-up 
          div
          | Update
        a.pull-right(ng-click='topMenu.installVersionPackage()')
          i.fa.fa-at 
          div
          | Install release
        a.pull-right(ng-click='topMenu.uninstallPackage()')
          i.fa.fa-remove 
          div
          | Uninstall
