.container.top-menu.bg-gradient-grey(ng-controller='TopMenuController as topMenu')
  span(npm-loading)
  include ./install-new-package-version.pug
  include ./install-new-package.pug
  .row
    .col-xs-3
      a.action-link-disabled.pull-left(title="Update npm", ng-click="topMenu.activeClickedLink('update'); shell.updateNpm()", ng-class="{'action-link-disabled': shell.globalDisabled, 'action-link-enabled': !shell.globalDisabled}")
        i.fa.fa-history(ng-class="{'color-primary': topMenu.activeLink === 'update'}")
        div
        span
          | Update npm
          span(ng-show="!shell.globalDisabled", class="badge-version color-black")
            i.fa.fa-caret-up(ng-show="topMenu.npmLatestVersionBadge && (topMenu.npmLatestVersionBadge !== topMenu.npmCurrentVersionBadge)")
            = " "
            b(title="New version available", ng-bind="topMenu.npmLatestVersionBadge", ng-show="topMenu.npmLatestVersionBadge && (topMenu.npmLatestVersionBadge !== topMenu.npmCurrentVersionBadge)")
            b(title="Current Npm version", ng-bind="topMenu.npmCurrentVersionBadge" ng-show="topMenu.npmCurrentVersionBadge && (!topMenu.npmLatestVersionBadge || (topMenu.npmLatestVersionBadge === topMenu.npmCurrentVersionBadge))")
      = " "
      = " "
      span.button-global(title="Enable ndm in global folder",  ng-click="shell.enableGlobal()")
        i.fa.fa-globe.color-primary
        = " "
        | Enable
    .col-xs-9
      button(title="Add project to be managed", class="pull-left", ng-click="shell.openChooser()")
        i.fa.fa-plus-circle
        | Add Project
      a.pull-right(title="Install Packages", ng-show="topMenu.projectPath", ng-click="topMenu.activeClickedLink('1');", ng-class="{'active': topMenu.activeLink === '1'}")
        i.fa.fa-cloud-download
        div
          | Install Packages
      span(ng-show='shell.showMenuButtons')
        a.pull-right(title="Update", ng-click="topMenu.activeClickedLink('2'); topMenu.updatePackage(shell.currentSelectedPackages)", ng-class="{'active': topMenu.activeLink === '2'}")
          i.fa.fa-level-up
          div
            | Update
        a.pull-right(title="Install Latest", ng-click="topMenu.activeClickedLink('3'); topMenu.installLatest(shell.currentSelectedPackages)", ng-class="{'active': topMenu.activeLink === '3'}")
          i.fa.fa-rocket
          div
            | Install latest
        a.pull-right(title="Install Release", ng-show="shell.currentSelectedPackages.length === 1", ng-click="topMenu.activeClickedLink('4'); topMenu.showPackageInstallPrompt = undefined; topMenu.showSpecificVersionPrompt = true", ng-class="{'active': topMenu.activeLink === '4'}")
          i.fa.fa-at
          div
            | Install release
        a.pull-right(title="Uninstall", ng-click="topMenu.activeClickedLink('5'); topMenu.uninstallPackage(shell.currentSelectedPackages)", ng-class="{'active': topMenu.activeLink === '5'}")
          i.fa.fa-remove
          div
            | Uninstall
