.container.top-menu.bg-gradient-grey(ng-controller='TopMenuController as topMenu')
  include ./specific-version-prompt.pug
  include ./install-new-package.pug
  .row
    .col-xs-3
      a.pull-left(ng-click='shell.updateNpm()')
        i.fa.fa-history
        div
        | Update npm
    .col-xs-9
      button(class="pull-left", ng-click="shell.openChooser()")
        i.fa.fa-plus-circle
        | Add Project
      a.pull-right(ng-show="topMenu.projectPath", ng-click="topMenu.showPackageInstallPrompt = true")
        i.fa.fa-cloud-download
        div
          | Install Package
      span(ng-show='shell.showMenuButtons')
        a.pull-right(ng-click='topMenu.updatePackage(shell.currentSelectedPackage)')
          i.fa.fa-level-up
          div
          | Update
        a.pull-right(ng-click='topMenu.installLatest(shell.currentSelectedPackage)')
          i.fa.fa-at
          div
          | Install latest
        a.pull-right(ng-click='topMenu.showSpecificVersionPrompt = true')
          i.fa.fa-at
          div
          | Install release
        a.pull-right(ng-click='topMenu.uninstallPackage(shell.currentSelectedPackage)')
          i.fa.fa-remove
          div
          | Uninstall
