.top-menu(top-menu, top-menu-id="{{tab}}")
  span(npm-loading)
  include ./install-new-package-version.pug
  include ./install-new-package.pug
  .row
    .col-xs-12
      button.button-add-package(title="Add Packages", ng-click="activeClickedLink('1');", ng-class="{'active': activeLink === '1'}")
        i.fa.fa-plus-circle
        | Add package
      span(ng-show='showMenuButtons')
        button.button-uninstall(title="Uninstall", ng-click="activeClickedLink('5'); uninstallPackage(currentSelectedPackages)", ng-class="{'active': activeLink === '5'}")
          i.fa.fa-remove
          | Uninstall
        button.button-update(title="Update", ng-click="activeClickedLink('2'); updatePackage(currentSelectedPackages)", ng-class="{'active': activeLink === '2'}")
          i.fa.fa-level-up
          | Update
        button.button-latest(title="Install Latest", ng-click="activeClickedLink('3'); installLatest(currentSelectedPackages)", ng-class="{'active': activeLink === '3'}")
          i.fa.fa-rocket
          | Latest
        button.button-version(title="Install Version", ng-show="currentSelectedPackages.length === 1", ng-click="activeClickedLink('4'); showPackageInstallPrompt = undefined; showSpecificVersionPrompt = true", ng-class="{'active': activeLink === '4'}")
          i.fa.fa-at
          | Version
