.container.top-menu.bg-gradient-grey(ng-controller='TopMenuController as topMenu')
  span(npm-loading)
  include ./specific-version-prompt.pug
  include ./install-new-package.pug
  .row
    .col-xs-3
      a.pull-left(ng-click="topMenu.activeClickedLink('update'); shell.updateNpm()")
        i.fa.fa-history(ng-class="{'color-primary': topMenu.activeLink === 'update'}")
        div
        span
          | Update npm
    .col-xs-9
      button(class="pull-left", ng-click="shell.openChooser()")
        i.fa.fa-plus-circle
        | Add Project
      a.pull-right(ng-show="topMenu.projectPath", ng-click="topMenu.activeClickedLink('1');")
        i.fa.fa-cloud-download
        div
          | Install Package
      span(ng-show='shell.showMenuButtons')
        a.pull-right(ng-click="topMenu.activeClickedLink('2'); topMenu.updatePackage(shell.currentSelectedPackage)")
          i.fa.fa-level-up
          div
          | Update
        a.pull-right(ng-click="topMenu.activeClickedLink('3'); topMenu.installLatest(shell.currentSelectedPackage)")
          i.fa.fa-rocket
          div
          | Install latest
        a.pull-right(ng-click="topMenu.activeClickedLink('4'); topMenu.showPackageInstallPrompt = undefined; topMenu.showSpecificVersionPrompt = true")
          i.fa.fa-at
          div
          | Install release
        a.pull-right(ng-click="topMenu.activeClickedLink('5'); topMenu.uninstallPackage(shell.currentSelectedPackage)")
          i.fa.fa-remove
          div
          | Uninstall
