doctype html
html
  head
    meta(charset='UTF-8')

    link(rel='stylesheet', href='icons/fontello/css/fontello-embedded.css', media='screen', charset='utf-8')
    link(rel='stylesheet', href='../node_modules/bootstrap/dist/css/bootstrap.min.css', media='screen', charset='utf-8')
    link(rel='stylesheet', href='css/index.css', media='screen', charset='utf-8')

    script(type='text/javascript', src='../node_modules/angular/angular.min.js')
    script(type='text/javascript', src='../node_modules/ace-builds/src-min-noconflict/ace.js')

    script(type='text/javascript', src='js/update.js')
  body.updates(ng-app='ndm-updater')
    .container
      .col-xs-4.left
        img.logo(src="../icon.ico")
      .col-xs-8
        h1
          | ndm
        div
          small
            | Installed version 1.0.0

        <!--show when loading -->

        h2
          img(src="img/loading.svg")
          | Checking for updates ...





        <!--show when NO available updates-->

        h2.is-uptodate
          i(class="fa fa-check")
          | Already up to date
          div
            small
              | Latest version 1.0.0
        button
          | Check again




        <!--show when YES available updates-->

        h2.is-to-update
          | Updates available
          div
            small
              | Update ndm now, is recommended
        button
          i(class="fa fa-history")
          | Update now



        div
          small.copy
            | Copyright @ 720kb, License GPL-v3
