.bg-footer{
  background: #f4f4f4;
  background: -moz-linear-gradient(top,  #f4f4f4 0%, #f2f2f2 100%);
  background: -webkit-linear-gradient(top,  #f4f4f4 0%,#f2f2f2 100%);
  background: linear-gradient(to bottom,  #f4f4f4 0%,#f2f2f2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#f2f2f2',GradientType=0 );
}
.bg-light{
  background-color: #f4f6f6;
}
.bg-lighter{
  background-color: #fefefe;
}
.bg-gradient-grey{
  background: #e5e5e5;
  background: -moz-linear-gradient(top,  #e5e5e5 28%, #d1d1d1 100%);
  background: -webkit-linear-gradient(top,  #e5e5e5 28%,#d1d1d1 100%);
  background: linear-gradient(to bottom,  #e5e5e5 28%,#d1d1d1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#d1d1d1',GradientType=0 );
}
